# Ignore build output files
build/
*.o
*.d
*.su
*.su.*
*.suo
*.ilk
*.pdb
*.exp
*.lib
*.a
*.hex
*.bin
*.map
*.elf
*.lst
*.sym
*.lss
*.lnp
*.bak
*.swp
*.swo
*.log
*.log.*
*.log-*.*

# Ignore IDE and editor files
.vscode/
*.code-workspace
*.launch
*.launch.py
*.settings
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.cproject
*.project
*.pydevproject
*.pyt
*.pyc
*.pyo
*.pyd
*.log
*.log.*
*.log-*.*

# Ignore system and library files
System Volume Information/
$RECYCLE.BIN/
Thumbs.db
Desktop.ini
*.so
*.a
*.dll
*.lib
*.dylib
*.exe
*.out
*.bin
*.elf
*.map
*.lst
*.sym
*.lss
*.lnp
*.bak
*.swp
*.swo
*.log
*.log.*
*.log-*.*
